*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Переменные */
:root {

  /* Заголовки поискового блока */
  --fieldset-title-font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  --fieldset-title-size: 18px;
  --fieldset-title-weight: 400;
  --fieldset-title-line-height: 100%;
  --fieldset-title-color:#fff;
  --fieldset-title-margin_btm: 5px;

  /* Заголовок content__details */
  --title-font-family: 'Oswald', Arial, Helvetica, sans-serif;
  --title-size: 75px;
  --title-weight: 700;
  --title-line-height: 94%;
  --title-color:#fff;
  --title-color-accent: #545050;
  --title-margin_btm: 20px;

  /* label-text */
  --label-text-font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  --label-text-size: 18px;
  --label-text-weight: 400;
  --label-text-line-height: 100%;
  --label-text-color:#fff;

  /* textfield */
  --textfield-font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  --textfield-size: 18px;
  --textfield-weight: 400;
  --textfield-line-height: 100%;
  --textfield-color:#fff;

  /* Заголовок content__video-card */
  --video-card-title-font-family: 'Oswald', Arial, Helvetica, sans-serif;
  --video-card-title-size: 30px;
  --video-card-title-weight: 700;
  --video-card-title-line-height: 100%;
  --video-card-title-color: #fff;

  /* Описание content__video-card */
  --video-card-description-font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  --video-card-description-size: 18px;
  --video-card-description-weight: 400;
  --video-card-description-line-height: 16.2px; /* по PP значение 16.7px */
  --video-card-description-color: #fff;
  --video-card-description-margin_top: 6px;

  /* Кнопки */
  --button-font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  --button-size: 18px;
  --button-weight: 700;
  --button-line-height: 100%;
  --button-color: #fff;
  --button-active-bg-color: #545050;

  /* Карточки */
  --card-link-active-bg-color: #545050;

  /* Outline */
  --outline: 1px solid #fff;
  --outline-offset: 2px;

  /* Border */
  --border-search-form__textfield: 1px solid #fff;
  --border-checbox: 1px solid #fff;
  --border-button: 1px solid #fff;
}

/* Visually-hiden */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Написанный код */
.content {
  width: 1140px;
  display: flex;
  column-gap: 30px;
  align-items: flex-end;
}

/* Блок Result */
.result {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  column-gap: 0;
}

.result__video-container {
  width: 711px;
  height: auto;
  position: relative;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.search-form__fieldset-title {
  font-family: var(--fieldset-title-font-family);
  font-size: var(--fieldset-title-size);
  font-weight: var(--fieldset-title-weight);
  line-height: var(--fieldset-title-line-height);
  color: var(--fieldset-title-color);
  margin-bottom: var(--fieldset-title-margin_btm);
}

.search-form__label {
  display: flex;
  align-items:center;
  gap: 5px;
}

.search-form__label-text {
  font-family: var(--label-text-font-family);
  font-size: var(--label-text-size);
  font-weight: var(--label-text-weight);
  line-height: var(--label-text-line-height);
  color: var(--label-text-color);
}

.search-form__textfield {
  appearance: none;
  padding: 0;
  font-family: var(--textfield-font-family);
  font-size: var(--textfield-size);
  font-weight: var(--textfield-weight);
  line-height: var(--textfield-line-height);
  color: var(--textfield-color);
  background-color: transparent;
  border: none;
  border-top: var(--border-search-form__textfield);
  border-bottom: var(--border-search-form__textfield);
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: var(--border-checbox);
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__submit-button {
  width: 194px;
  align-self:flex-end;
}

/* Блок content__details */
.content__details {
  flex-grow: 1;
}

.title {
  font-family: var(--title-font-family);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  line-height: var(--title-line-height);
  color: var(--title-color);
  text-transform: uppercase;
  margin-bottom: var(--title-margin_btm);
}

.content__accent {
  color: var(--title-color-accent);
}

.content__list-container {
  position: relative;
height: 298px;
overflow: auto;
display: flex;
flex-direction: column;
gap: 30px;
padding: 4px 3px 0; /* Значение по PP */
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link_current {
  background-color: var(--card-link-active-bg-color);
}



.content__video-card {
  display: flex;
  align-content: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  max-width: 196px;
  font-family: var(--video-card-title-font-family);
  font-size: var(--video-card-title-size);
  font-weight: var(--video-card-title-weight);
  line-height: var(--video-card-title-line-height);
  color: var(--video-card-title-color);
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--video-card-description-font-family);
  font-size: var(--video-card-description-size);
  font-weight: var(--video-card-description-weight);
  line-height: var(--video-card-description-line-height);
  color: var(--video-card-description-color);
  margin-top: var(--video-card-description-margin_top);
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Кнопки */
.button {
  color: var(--button-color);
  font-family: var(--button-font-family);
  font-size: var(--button-size);
  font-weight: var(--button-weight);
  line-height: var(--button-line-height);
  background-color: transparent;
  border: var(--border-button);
  padding: 6px 0;
}

.more-button {
  width: 100%;
}

/* Взаимодействия */
.search-form__textfield:focus {
  outline: none;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list > .search-form__label:has(:hover) {
  text-decoration: underline;
}

.search-form__checkbox-list > .search-form__label:has(:focus-visible) {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.content__card-link:active {
  background-color: var(--card-link-active-bg-color);
}

.content__card-link:hover {
  text-decoration: underline #fff 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: var(--outline);
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: var(--button-active-bg-color);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.button,
.search-form__label {
  cursor: pointer;
}



















